<ul class="nav navbar-nav">
  <% if current_patient %>
    <li>
      <%= link_to "Available Slots", slots_path%>
    </li>
    <li>
      <%= link_to "Booked Appointments", appointments_path%>
    </li>
  <% end %>
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if current_patient %>
    <li><%= link_to "Profile", edit_patient_registration_path %></li>
    <li><%= link_to "Log Out", destroy_patient_session_path, method: "delete" %></li>
  <% end %>
</ul>